.App {
    text-align: center;
}

.actual-container {
    background-color: aliceblue;
    opacity: 0.9;
}

.dnd-container {
    background-color: aquamarine;
    opacity: 0.9;
}

.top-fill,
.bottom-fill {
    background-color: palevioletred;
    opacity: 0.3;
}
